In [58]:
import pandas as pd
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
nba_teams = teams.get_teams()
game_finder = leaguegamefinder.LeagueGameFinder()
all_games = game_finder.get_data_frames()[0]
teams_df = pd.DataFrame(nba_teams)
games_df = pd.DataFrame(all_games)

# games_df['GAME_DATE'] = pd.to_datetime(games_df['GAME_DATE'])
# games_before_2019 = games_df[games_df['GAME_DATE'].dt.year < 2019]

unique_team_names = games_df['TEAM_NAME'].unique()

prefix = '1610612'
filtered_teams = games_df[games_df['TEAM_ID'].astype(str).str.startswith(prefix)]
# team_name_and_id = filtered_teams[['TEAM_NAME', 'TEAM_ID']]

filtered_uniqie = filtered_teams['TEAM_NAME'].unique()


# # Display the DataFrames
# print("Teams DataFrame:")
# print(teams_df.head())

print("\nGames DataFrame:")
games_df.tail()

# games_before_2019.head()
# print(filtered_uniqie)
# print(filtered_teams)
team_name_and_id
# print(unique_team_names)

Games DataFrame:

                   TEAM_NAME     TEAM_ID
2           Dallas Mavericks  1610612742
3            New York Knicks  1610612752
6         Los Angeles Lakers  1610612747
7         Washington Wizards  1610612764
8         Philadelphia 76ers  1610612755
...                      ...         ...
29994        Milwaukee Bucks  1610612749
29995   New Orleans Pelicans  1610612740
29997     Los Angeles Lakers  1610612747
29998  Golden State Warriors  1610612744
29999      Memphis Grizzlies  1610612763

[13760 rows x 2 columns]